{{#each this}}
  <div class="col-xs-6 col-md-4 trip-div">
    <div class="thumbnail">
      <h3>{{location}}</h3>
      <p>{{location_type}}</P>
      {{#if visited}}
        <p><span class="label label-success">You have visited</span></p>
      {{/if}}
      {{#unless visited}}
        <p><span class="label label-warning">Wishlist</span></p>
      {{/unless}}
      {{#if reviews}}
        <h4> Reviews</h4>
        <ol>
          {{#each reviews}}
          <li>
            <div id="{{@key}}">
              <h5><span>{{title}}</span> | <span>{{date}}</span> </h5>
              <p>{{text}}</p>
            </div>
          </li>
          {{/each}}
        </ol>
      {{/if}}
      {{#if visited}}
      <button id="add-review#{{@key}}" type="button" class="btn btn-primary btn-sm">Add Review</button>
      {{/if}}
      {{#unless visited}}
        <button id="nowVisited#{{@key}}" type="button" class="btn btn-primary btn-sm">Now Visited!</button>
      {{/unless}}
    </div>
  </div>
{{/each}}

{{!-- 
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div> --}}