{{#each this}}
{{#unless visited}}
    <div class="col-xs-6 col-md-4 trip-div">
    <div class="thumbnail">
      <h3>{{location}}</h3>
      <p>{{location_type}}</P>
      {{#if visited}}
        <p><span class="label label-success">You have visited</span></p>
      {{/if}}
      {{#unless visited}}
        <p><span class="label label-warning">Wishlist</span></p>
      {{/unless}}
      {{#if reviews}}
        <h4> Reviews</h4>
        <ol>
          {{#each reviews}}
          <li>
            <div id="{{@key}}">
              <h5><span>{{title}}</span> | <span>{{date}}</span> </h5>
              <p>{{text}}</p>
            </div>
          </li>
          {{/each}}
        </ol>
      {{/if}}
      <button id="add-review#{{@key}}" type="button" class="btn btn-primary btn-sm">Add Review</button>
    </div>
  </div>
{{/unless}}
{{/each}}